<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.school">
    <!-- google map permission -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.smart.school.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 외부 저장소 사용 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 현재위치 사용 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
<uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    -->
    <!-- 카메라 사용 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- google plus login -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.asiacove.surf.permission.C2D_MESSAGE" />

    <permission
        android:name="com.smart.school.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".app.config.AppController"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/appicon1"
        android:label="슬기로운 학교생활"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">
        <activity android:name=".school.BusRoutine"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Main.activity.Loading"
            android:label="슬기로운 학교생활"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main.activity.Intro"
            android:theme="@style/AppTheme" /> <!-- ==========================Login Package==================== -->

        <activity
            android:name=".Main.activity.BaseActivity"
            android:theme="@style/AppTheme" /> <!-- ==========================Login Package==================== -->

        <activity
            android:name=".login.Login"
            android:theme="@style/AppTheme" /> <!-- ==========================Login Package==================== -->
        <!-- ==========================Restaurant======================= -->
        <activity
            android:name=".school.SchoolMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".school.TeacherTime"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".school.RestaurantCctv"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAb9EkCno1SHZriEL9HNvTCFV3L3Rz-CFs" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.smart.school.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>